[user]
    name = Guilherme Moura Nascimento
    email = gmoura.nas@gmail.com

[github]
    user = gmoura

[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    filemode = false
    trustctime = false

[alias]
    st = status
    sts = status -sb
    ci = commit
    br = branch
    co = checkout
    unstage = reset --hard HEAD
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ll = log --pretty=oneline --graph --abbrev-commit
    lm = log --pretty=format:'* %s (%h)'
    lg = log -p
    g = grep --break --heading --line-number

[color]
    ui = auto
